.header {
  margin: 17px;
  %__header{
    width: 100%;
  }

  &__icon{
    flex-shrink: 0;
    position: absolute;
    top: 332px;
    left: 20px;
    width: 75px;
    height: 75px;
    margin-left: 8px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    box-sizing: border-box;
    overflow: hidden;

  }

  &__follo-btn{
    width: 120px;
    margin-top: 13px;
    margin-left: auto;
    outline: none;
    border-color: rgb(69, 73, 75);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 19px;
    min-width: 90px;
    height: 32px;
    border-radius: 22px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: 13px;
    white-space: nowrap;

  }

  &__company-name{
    box-sizing: border-box;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.45;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 9px;
    margin-top:11px;
  }

  &__company-title{
    margin: 0px 17px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.45;
    color: rgba(0, 0, 0, 0.8);
    outline: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans', "ヒラギノ角ゴシック", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3',Roboto, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  }

  &__company-link{
    font-size: 13px;
    margin-right: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    color: #45494b
  
  }

  &__slide-title{
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    font-weight: 600;
    margin-right: 18px;
    padding: 13px 0px;
    color: rgb(69, 73, 75);
    cursor: pointer;
  }
  &__slide-title-thin{
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    font-weight: 500;
    margin-right: 18px;
    padding: 13px 0px;
    color: rgb(157, 160, 164);
    cursor: pointer;

  }
  &__location-mark{
    width: 15px;
    padding: 0px 5px 5px 5px;

  }

  &__slide{
    height: 48px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    border-bottom: 1px solid rgb(235, 237, 239);
    
  }

  &__slide-underbar{
    width: 20px;
    margin-left: 16px;
    border-bottom: 2px solid #070000;
    margin-top: 10px;
  }
  
  
  

  
}




