.article-list {
  width: 100%;

  %__article-title {
    font-size: 20px;
  }

  &__article-title {
    @extend %__article-title;

    &--red {
      @extend %__article-title;
      color: red; 
    }
  }

  &__article-subtitle {
    font-size: 16px;
  }
}




