.meta {
  text-decoration: none;
  &__header{
    height: 179px;
    margin-bottom: 24px;
  }

  &__mini-header{
    height: 92px;
  }

  &__header-slide{
    height: 48px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin-left: -36px;
    border-bottom: solid 1px #45494e;
    
  }
}




